#root
.project
.settings
target
.classpath
.idea/
*.iml
.akconfig
.DS_Store
**/.DS_Store
*.swo
*.swp

#df-daemon

out
gen### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
coverage.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

#dfget
*.pyc
getter.log*
.pydevproject

#supernode




