apiVersion: v1
kind: Service
metadata:
  name: dragonfly-injector-webhook-service
  namespace: dragonfly-system
  labels:
    app: dragonfly
    component: injector
spec:
  type: ClusterIP
  ports:
    - name: webhook
      port: 443
      targetPort: 9443
      protocol: TCP
    - name: metrics
      port: 8443
      targetPort: 8443
      protocol: TCP
  selector:
    app: dragonfly
    component: injector
