<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property resource="logback-config.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="APP"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/app.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>31</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="PIECEHIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/piece-hit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/piece-hit.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="DATAGC"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/data-gc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/data-gc.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="DOWNLOADER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/downloader.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/downloader.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="SPACEGC"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/space-gc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_home}/space-gc.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.alibaba.dragonfly.supernode" level="${log_level}"
            additivity="false">
        <appender-ref ref="APP"/>
    </logger>

    <logger name="PieceHitLogger" level="${log_level}" additivity="false">
        <appender-ref ref="PIECEHIT"/>
    </logger>

    <logger name="DataGcLogger" level="${log_level}" additivity="false">
        <appender-ref ref="DATAGC"/>
    </logger>


    <logger name="DownloaderLogger" level="${log_level}" additivity="false">
        <appender-ref ref="DOWNLOADER"/>
    </logger>

    <logger name="SpaceGcLogger" level="${log_level}" additivity="false">
        <appender-ref ref="SPACEGC"/>
    </logger>

    <root level="${log_level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
