<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="LOG_HOME" value="${LOG_HOME:-${supernode.baseHome:-/home/admin/supernode}/logs}"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <property name="LOG_APPENDER" value="${LOG_APPENDER:-STDOUT}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="APP"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/app.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>31</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="PIECEHIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/piece-hit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/piece-hit.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DATAGC"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/data-gc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/data-gc.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="DOWNLOADER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/downloader.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/downloader.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="SPACEGC"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/space-gc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/space-gc.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.alibaba.dragonfly.supernode" level="${LOG_LEVEL}"
            additivity="false">
        <appender-ref ref="APP"/>
    </logger>

    <logger name="PieceHitLogger" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="PIECEHIT"/>
    </logger>

    <logger name="DataGcLogger" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="DATAGC"/>
    </logger>


    <logger name="DownloaderLogger" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="DOWNLOADER"/>
    </logger>

    <logger name="SpaceGcLogger" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="SPACEGC"/>
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="${LOG_APPENDER}"/>
    </root>
</configuration>
